# Ignore everything except the required files
*
!app.yaml
!build
!build/**
!Dockerfile
!package.json
!package-lock.json
!src
!src/**
!public
!public/**
!tsconfig.json
!*.scss
!*.css
!.env
!server.js
!privatekey.pem